.box {

}


.panel {

}

#set-height {
	min-height: 500px;
}


#container{
    display:inline-block;
    width:320px; 
    height:480px;
    margin: 0 auto; 
    background: black; 
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333;
}
.video-wrapper {
	margin:0 auto;
	width: 640px;
}
.h-label {
	display: inline-block;
}

//Video Styling 

// #container {
// 	position : relative;
// }

// #canvas {
// 	position : absolute;
// 	left : 0;
// 	top : 0;
// }

.canvas-center {
	margin: 0 auto;
	position: relative;
	z-index: 100;
}

.video-center {
	margin: 0 auto;
	display: block;
	position: absolute;
}