#blink-box {
	width: 100%;
	display: inline-block;
	div {
		display: inline-block;
		height: 80px;
		margin: 0px;
		width: 24%;
		text-align: center;
		line-height: 80px;
		font-size: 2em;
		font-weight: bold;
		color: black;
	}
}
#blink-values {
	width: 100%;
	display: inline-block;
	div {
		display: inline-block;
		height: 80px;
		margin: 0px;
		width: 23%;
		text-align: center;
		line-height: 80px;
		color: black;
	}
}

#form-container {
	padding: 20px;
}

.selected-letter {
	background-color: #5bc0de;
	color: black;

}

#status-display {
	text-align: center;
	p {
		display: inline-block;
		font-size: 1.3em;
		padding: 10px 15px;
	}
}

.content-center {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

.panel {

}

#set-height {
	min-height: 500px;
}


#video-container{
    display:inline-block;
    width:320px; 
    height:480px;
    margin: 0 auto; 
    background: black; 
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333;
}
.video-wrapper {
	margin:0 auto;
	width: 640px;
}

.large-video-wrapper {
	margin: 0 auto;
	width: 960px;
	padding-bottom: 40px;
	padding-top: 20px;
}
.h-label {
	display: inline-block;
}


.letter-list {
	li {
		width: 32%;
	}
}
.canvas-center {
	margin: 0 auto;
	position: relative;
	z-index: 100;
}

.video-center {
	margin: 0 auto;
	display: block;
	position: absolute;
}
.inline-group {
	display: inline-block;
	width: 100%;
}
.selected {
	color: blue;
}
.inline-group-item {
	display: inline-block;
	text-align: center;
	margin: 0;
	width: 31%;
	height: 100px;;
}