$success: rgba(155, 222, 172, 0.3);
$dark: #000411;
$light: #FCF4EF;
$grey: #454851;
$border: #6D938F;
$blue: #9CD3CD;



.grid-item {
    height: 250px;
    border: 1px solid $dark;
}


#page-wrapper {
	padding: 0px;
}

#blink-box {
	div {
		width: 24%;
		padding: 5px;
		height: 80px;
		text-align: center;
		line-height: 70px;
		font-size: 2em;
		margin: 2px;
		font-weight: bold;
		color: black;
		border: 1px solid $dark;
	}

}

.letter-success {
	background-color: $blue;
}

.flat-row {
	margin: 0px;
	height: 75px;
}

.box-row {
}

#select-box {
	div {
		height: 75px;
		line-height: 75px;
		font-size: 1.3em;
		font-weight: bold;
		border: 1px solid $dark;
		text-align: center;
	}
}

.select-container {
	padding: 10px 20px;
}

.active-box {
	background-color: $success
}
#blink-values {
	div {
		width: 24%;
		padding: 5px;
		height: 80px;
		text-align: center;
		line-height: 70px;
		margin: 2px;
		font-weight: bold;
		color: black;
		border: 1px solid $dark;
		background-color: $light;
	}
}

#form-container {
	padding: 20px;
}

.selected-letter {
	background-color: #5bc0de;
	color: black;

}

#status-display {
	text-align: center;
	p {
		display: inline-block;
		font-size: 1.3em;
		padding: 10px 15px;
	}
}

.content-center {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

.panel {

}

#set-height {
	min-height: 500px;
}

#image-stable {
	height: 877.5px;
	//opacity: 0.4;
	position: absolute;
	top: 0px;
	z-index: 50;
	background-color: rgba(242, 222, 222, 0.6);
	border: 1px solid $dark;

	text-align: center;
	line-height: 877.5px;
	p {
		font-weight: bold;
		font-size: 5em;
		opacity: 1;
		color: $dark;
	}

}
.second-line {
	position: relative;
	top: -800px;
	font-size: 0.75em;
	font-weight: 0.75em;

}


#video-container{
    display:inline-block;
    width:320px;
    height:480px;
    margin: 0 auto;
    background: black;
    position:relative;
    border:5px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333;
}
.video-wrapper {
	margin:0 auto;
	width: 640px;
}

.small-video-wrapper {
	margin: 0 auto;
	width: 1170px;
	padding-bottom: 40px;
	padding-top: 20px;
}

.grid-video-wrapper {
    margin: 0 auto;
    width: 800px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.large-video-wrapper {
	margin: 0 auto;
	width: 960px;
	padding-bottom: 40px;
	padding-top: 20px;
}
.h-label {
	display: inline-block;
}


.letter-list {
	li {
		width: 32%;
	}
}
.canvas-center {
	margin: 0 auto;
	position: relative;
	z-index: 100;
}

.video-center {
	margin: 0 auto;
	display: block;
	position: absolute;
}
.inline-group {
	display: inline-block;
	width: 100%;
}
.selected {
	color: blue;
}
.inline-group-item {
	display: inline-block;
	text-align: center;
	margin: 0;
	width: 31%;
	height: 100px;;
}
