<!-- SIMPLE -->
<div class="col-xs-12" id="image-stable" ng-hide="imageStable">
  <p>Hold Still:</p>
  <p class="second-line"><small>{{conv.toFixed(1)}}</small></p>
</div>

<div class="container" id="form-container">
  <div class="row row-centered">
    <div class="col-xs-8 col-centered">
      <form class="form-horizontal">
        <div class="form-group input-group-lg">
          <label class="form-label">Text:</label>
          <input ng-model="selectedText" id="auto-form" ng-model="query" class="form-control " ng-class="letterInput">
        </div>
      </form>
    </div>
  </div>
  <div class="row row-centered">
    <div class="col-xs-8 col-centered">
      <h2 ng-model="sentence">{{sentence}}</h2>
    </div>
  </div>
</div>

<hr>

<div class="container-fuild select-container">
  <div class="row row-centered flat-row">
    <div class="col-xs-12 col-centered">
      <span id="select-box">
        <div ng-class="{'active-box': rowArray[0]}" class="col-xs-1">1</div>
        <div ng-class="{'active-box': styleArray[0][0]}" class="col-xs-2">{{selectArray[0][0]}}</div>
        <div ng-class="{'active-box': styleArray[0][1]}" class="col-xs-2">{{selectArray[0][1]}}</div>
        <div ng-class="{'active-box': styleArray[0][2]}" class="col-xs-2">{{selectArray[0][2]}}</div>
        <div ng-class="{'active-box': styleArray[0][3]}" class="col-xs-2">{{selectArray[0][3]}}</div>
        <div ng-class="{'active-box': styleArray[0][4]}" class="col-xs-2">{{selectArray[0][4]}}</div>
      </span>
    </div>
  </div>
  <div class="row row-centered flat-row">
    <div class="col-xs-12 col-centered">
      <span id="select-box">
        <div ng-class="{'active-box': rowArray[1]}" class="col-xs-1">2</div>
         <div ng-class="{'active-box': styleArray[1][0]}" class="col-xs-2">{{selectArray[1][0]}}</div>
         <div ng-class="{'active-box': styleArray[1][1]}" class="col-xs-2">{{selectArray[1][1]}}</div>
         <div ng-class="{'active-box': styleArray[1][2]}" class="col-xs-2">{{selectArray[1][2]}}</div>
         <div ng-class="{'active-box': styleArray[1][3]}" class="col-xs-2">{{selectArray[1][3]}}</div>
         <div ng-class="{'active-box': styleArray[1][4]}" class="col-xs-2">{{selectArray[1][4]}}</div>
      </span>
    </div>
  </div>
  <div class="row row-centered flat-row">
    <div class="col-xs-12 col-centered">
      <span id="select-box">
        <div ng-class="{'active-box': rowArray[2]}" class="col-xs-1">3</div>
        <div ng-class="{'active-box': styleArray[2][0]}" class="col-xs-2">{{selectArray[2][0]}}</div>
        <div ng-class="{'active-box': styleArray[2][1]}" class="col-xs-2">{{selectArray[2][1]}}</div>
        <div ng-class="{'active-box': styleArray[2][2]}" class="col-xs-2">{{selectArray[2][2]}}</div>
        <div ng-class="{'active-box': styleArray[2][3]}" class="col-xs-2">{{selectArray[2][3]}}</div>
        <div ng-class="{'active-box': styleArray[2][4]}" class="col-xs-2">{{selectArray[2][4]}}</div>
      </span>
    </div>
  </div>
  <div class="row row-centered flat-row">
    <div class="col-xs-12 col-centered">
      <span id="select-box">
        <div  ng-class="{'active-box': rowArray[3]}" class="col-xs-1">4</div>
        <div ng-class="{'active-box': styleArray[3][0]}" class="col-xs-2">{{selectArray[3][0]}}</div>
        <div ng-class="{'active-box': styleArray[3][1]}" class="col-xs-2">{{selectArray[3][1]}}</div>
        <div ng-class="{'active-box': styleArray[3][2]}" class="col-xs-2">{{selectArray[3][2]}}</div>
        <div ng-class="{'active-box': styleArray[3][3]}" class="col-xs-2">{{selectArray[3][3]}}</div>
        <div ng-class="{'active-box': styleArray[3][4]}" class="col-xs-2">{{selectArray[3][4]}}</div>
      </span>
    </div>
  </div>
  <div class="row row-centered flat-row">
    <div class="col-xs-12 col-centered">
      <span id="select-box">
        <div ng-class="{'active-box': rowArray[4]}" class="col-xs-1">5</div>
        <div ng-class="{'active-box': styleArray[4][0]}" class="col-xs-2">{{selectArray[4][0]}}</div>
        <div ng-class="{'active-box': styleArray[4][1]}" class="col-xs-2">{{selectArray[4][1]}}</div>
        <div ng-class="{'active-box': styleArray[4][2]}" class="col-xs-2">{{selectArray[4][2]}}</div>
        <div ng-class="{'active-box': styleArray[4][3]}" class="col-xs-2">{{selectArray[4][3]}}</div>
        <div ng-class="{'active-box': styleArray[4][4]}" class="col-xs-2">{{selectArray[4][4]}}</div>
      </span>
    </div>
  </div>
  <div class="row row-centered flat-row">
    <div class="col-xs-12 col-centered">
      <span id="select-box">
        <div ng-class="{'active-box': rowArray[5]}" class="col-xs-1">6</div>
        <div ng-class="{'active-box': styleArray[5][0]}" class="col-xs-2">{{selectArray[5][0]}}</div>
        <div ng-class="{'active-box': styleArray[5][1]}" class="col-xs-2">{{selectArray[5][1]}}</div>
        <div ng-class="{'active-box': styleArray[5][2]}" class="col-xs-2">{{selectArray[5][2]}}</div>
        <div ng-class="{'active-box': styleArray[5][3]}" class="col-xs-2">{{selectArray[5][3]}}</div>
        <div ng-class="{'active-box': styleArray[5][4]}" class="col-xs-2">{{selectArray[5][4]}}</div>
      </span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-centered">
    <div class="col-xs-6 col-centered box-row">
      <span id="blink-box">
        <div ng-show="statusLeft" class="col-xs-3 active-box">Left</div>
        <div ng-hide="statusLeft" class="col-xs-3">Left</div>
        <div ng-show="statusRight" class="col-xs-3 active-box">Right</div>
        <div ng-hide="statusRight" class="col-xs-3">Right</div>
        <div ng-show="statusBrow" class="col-xs-3 active-box">Brow</div>
        <div ng-hide="statusBrow" class="col-xs-3">Brow</div>
        <div ng-show="statusMouth" class="col-xs-3 active-box">Mouth</div>
        <div ng-hide="statusMouth" class="col-xs-3">Mouth</div>
      </span>
    </div>
  </div>
  <div class="row row-centered">
    <div class="col-xs-6 col-centered">
      <span id="blink-values">
        <div class="col-xs-3">{{leftThres.toFixed(1)}}</div>
        <div class="col-xs-3">{{rightThres.toFixed(1)}}</div>
        <div class="col-xs-3">{{browThres.toFixed(1)}}</div>
        <div class="col-xs-3">{{mouthThres.toFixed(1)}}</div>
      </span>
    </div>
  </div>
</div>

<div class="row row-centered">
 <div class="col-xs-4 col-centered" id="status-display">
  <span class="content-center">
    <button type="submit" ng-click="takeBase()" class="btn btn-primary">Ready</button>
    <button id="base-btn" type="submit" class="btn btn-primary" ng-click="startLetters()">Start</button>
    <button ng-show="running" id="base-btn" type="submit" class="btn btn-danger" ng-click="stopReading()">Stop</button>
  </span>
</div>
</div>

</div>


<div class='small-video-wrapper'>

  <video id="webcam" class="video-center" width="1170px" height="877.5px" autoplay></video>
  <canvas id="canvas" class="canvas-center" width="1170px" height="877.5px"></canvas>


</div>


